@model BookShelfProject.Models.Book
@{
    ViewBag.Title = "BookUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("BookUpdate2", "Home", FormMethod.Post)) // Kitap güncellemeye (update2) bağlı çalışıcak ondan sonra post olucak.
{
    <div style="margin-bottom:15px">
        @Html.HiddenFor(y=>y.BookID)         
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        @Html.LabelFor(x => x.Author)
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        @Html.LabelFor(x => x.Page)
        @Html.TextBoxFor(x => x.Page, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        @Html.LabelFor(x => x.Category)
        @Html.TextBoxFor(x => x.Category, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Update</button>
}
